.iconify {
    transform: translateY(-6px);
  }

.pf__seta {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pf__portfolio__video {
    position: relative;
    padding-bottom: 56.25%; // 16:9 = 9/16 = 0.5625 ou 56.25%
    height: 0;
    overflow: hidden;
    max-width: 80%;
    margin: 0 auto; // centraliza o container
  }
  
  .pf__portfolio__video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  
.pf__works {
    font-family: "Lora", "Times New Roman";
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // flex-wrap: wrap;
    text-justify: center;
    width: 80%;
    margin: 0 auto;
    // margin-top: 30px;

    @media (max-width: 1024px) {
        justify-content: center;
    }
    @media (max-width: 700px) {
        width: 90%;
    }

    &__img {
        width: 90%;
        // flex: 0 0 80%;
        margin-bottom: -10px;
        margin: -100px auto; // centraliza a imagem
        
        img {
            width: 80%;
        }
        @media (max-width: 1024px) {
            flex: 0 0 45%;
        }
        @media (max-width: 700px) {
            flex: 0 0 100%;
        }
    }
    
}

.gridicons--dropdown {
    display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m7 10l5 5l5-5z'/%3E%3C/svg%3E")
              no-repeat center center;
  background-size: contain;
}

  

.pf__header {
    &__nav__menu {
        justify-content: right;
        display: flex; 
        list-style: none; 
        margin: 45px;
        padding: 0;
    }
    &__content {
        position: relative;
        width: 80%;
        margin: 0 auto;
        margin-top: 90px
    }
    &__nav__logo {
        width: 180px;
        height: auto;
        position: absolute;
        top: -80px;
        left: 0px;
        img {
            width: 150%;
            height: auto;
        }
    }
    &__logo {
        text-align: right;
        font-family: "Lora", "Times New Roman";
        font-size: 90px;
        @media (max-width: 1024px) {
            font-size: 60px;
        }
        @media (max-width: 700px) {
            font-size: 40px;
        }
    }
    &__pergunta {
        font-family: "Lora", "Times New Roman";
        font-size: 85px;
        @media (max-width: 1024px) {
            font-size: 60px;
        }
        @media (max-width: 700px) {
            font-size: 40px;
        }
    }
    &__options-contrast {
        font-family: "Lora", "Times New Roman";
        font-weight: 500;
        font-size: 20px;
        position: fixed;
        right: 40px;
        top: 105px;
        margin-top: 0px;
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -ms-transform-origin: right, top;
        -webkit-transform-origin: right, top;
        z-index: 3;
        @media (max-width: 700px) {
            right: 10px;
            font-size: 18px;
        }
        span {
           cursor: pointer; 
        }
        .active {
            font-weight: 600;
            border-bottom: 2px solid #000;
            &:hover {
                border-color: transparent;
            }
        }
    }
}
.pf__bio {
    display: flex;
    align-items: center; // Alinha verticalmente
    justify-content: space-between; // Espaça os itens
    width: 80%;
    margin: 100px auto;
  
    &__foto {
      flex: 0 0 40%;
      margin-top: 20px;
      
      img {
        width: 90%;
      }
    }
  
    &__content {
      flex: 1;         // Ocupa o restante do espaço
      padding-left: 20px; // Espaço entre a foto e o texto
  
      p {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 20px;
  
        @media (max-width: 1024px) {
          font-size: 25px;
          line-height: 35px;
        }
  
        @media (max-width: 700px) {
          font-size: 18px;
          line-height: 27px;
        }
      }
    }
  }
  

.pf__contact {
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-top: 400px;
    &__content {
        width: 80%;
    }
    &__title {
        font-size: 120px;
       font-family: "Lora", "Times New Roman";
       margin-bottom: 120px;
       @media (max-width: 1024px) {
        font-size: 80px;
       }
       @media (max-width: 700px) {
        font-size: 60px;
       }
    }
    p {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 50px;
        @media (max-width: 1024px) {
            font-size: 25px;
            line-height: 35px;
        }
        @media (max-width: 700px) {
            font-size: 18px;
            line-height: 27px;
        }
    }
    a {
        display: inline-block;
        border-bottom: 2px solid #000;
        &:hover {
            border-color: transparent;
        }
    }
}
.pf__footer {
    &__content {
        position: relative;
        width: 80%;
        margin:  0 auto;
        margin-top: 200px;
        margin-bottom: 30px;
    }
    &__social-links {
        display: inline;
        list-style: none;
        position: fixed;
        right: -52px;
        bottom: 150px;
        margin-top: 0px;
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -ms-transform-origin: right, top;
        -webkit-transform-origin: right, top;
        @media (max-width: 700px) {
            right: -76px;
        }
        li {
            display: inline-block;
            font-family: "Lora", "Times New Roman";
            font-size: 20px;
            margin: 0px;
            @media (max-width: 700px) {
                font-size: 18px;
            }
            a {
                margin-left: 30px;
                border-bottom: 2px solid #000;
                &:hover {
                    border-color: transparent;
                }
            }
        }
    }
    p {
        font-family: "Lora", "Times New Roman";
        font-size: 15px; 
    }
}
